Repository openebs/cstor-operators, pull requests merged in 2020-06, with the labels that each got.

#75 fix(cspi): update the Capacity fields of CStorPoolInstance
  deploy/crds/cspi-crd.yaml
  pkg/controllers/cspi-controller/handler.go
  pkg/controllers/testutil/zcmd/executor/executor.go
  pkg/controllers/testutil/zcmd/zfs/get.go
  pkg/pool/operations/status.go
  pkg/volumereplica/volumereplica.go
  pkg/zcmd/zfs/get/builder.go
Labels: area: pool-manager, needs-review, pr/release-note

#79 refact(cspc): add migration support for spc to cspc
  VERSION
  go.sum
  pkg/cspc/algorithm/build_csp.go
  pkg/pool/operations/create.go
  pkg/pool/operations/import.go
  pkg/pool/operations/pool_utils.go
Labels: area: cspc-operator, needs-review

#88 feat(backup-controller): add suport for backup controller
  cmd/pool-manager/app/start.go
  go.mod
  go.sum
  pkg/controllers/backup-controller/controller.go
  pkg/controllers/backup-controller/controller_test.go
  pkg/controllers/backup-controller/handler.go
  pkg/controllers/backup-controller/runner.go
  pkg/volumereplica/volumereplica.go
  vendor/github.com/openebs/api/pkg/apis/openebs.io/v1alpha1/register.go
  vendor/modules.txt
Labels: area: pool-manager, needs-review

#70 feat(docs): auto generate api docs using Makefile target
  Makefile
  docs/api-references/apis.md
  go.mod
  go.sum
  hack/api-docs/config.json
  hack/api-docs/template/members.tpl
  hack/api-docs/template/pkg.tpl
  hack/api-docs/template/type.tpl
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.gitignore
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.goreleaser.yml
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.travis.yml
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/LICENSE
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/README.md
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/example-config.json
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/go.mod
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/go.sum
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/github.com/russross/blackfriday/v2/.gitignore
  vendor/github.com/russross/blackfriday/v2/.travis.yml
  vendor/github.com/russross/blackfriday/v2/LICENSE.txt
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/go.mod
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/markdown.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/russross/blackfriday/v2/smartypants.go
  vendor/github.com/shurcooL/sanitized_anchor_name/.travis.yml
  vendor/github.com/shurcooL/sanitized_anchor_name/LICENSE
  vendor/github.com/shurcooL/sanitized_anchor_name/README.md
  vendor/github.com/shurcooL/sanitized_anchor_name/go.mod
  vendor/github.com/shurcooL/sanitized_anchor_name/main.go
  vendor/k8s.io/gengo/LICENSE
  vendor/k8s.io/gengo/parser/doc.go
  vendor/k8s.io/gengo/parser/parse.go
  vendor/k8s.io/gengo/types/comments.go
  vendor/k8s.io/gengo/types/doc.go
  vendor/k8s.io/gengo/types/flatten.go
  vendor/k8s.io/gengo/types/types.go
  vendor/modules.txt
Labels: documentation, enhancement, needs-review

#106 fix(VERSION): omit generation of VERSION file
  build/build.sh
  pkg/controllers/cstorvolumeconfig/controller.go
Labels: needs-review
