Repository openebs/cstor-operators, pull requests merged in 2020-04, with the labels that each got.

#25 chore(cspc): add cspi instances details on cspc status
  deploy/crds/cspc-crd.yaml
  examples/cspc/cspc-single.yaml
  go.sum
  pkg/controllers/cspc-controller/scale.go
  pkg/controllers/cspc-controller/status.go
  pkg/controllers/cspc-controller/sync.go
  pkg/controllers/cspc-controller/util/cspc_util.go
Labels: area: cspc-operator, enhancement, needs-review

#30 chore(cspc): refactor cspc reconcile and cleanup
  pkg/controllers/cspc-controller/cleanup.go
  pkg/controllers/cspc-controller/cleanup_test.go
  pkg/controllers/cspc-controller/handler.go
  pkg/controllers/cspc-controller/sync.go
Labels: area: cspc-operator, enhancement, needs-review

#29 refact(cspc): add tests and constants for cspc conditions
  pkg/controllers/cspc-controller/status.go
  pkg/controllers/cspc-controller/util/cspc_util.go
  pkg/controllers/cspc-controller/util/cspc_util_test.go
Labels: area: cspc-operator, needs-review

#33 chore(vendor): update vendor to include builder function changes
  go.mod
  go.sum
  vendor/github.com/openebs/api/pkg/apis/cstor/v1/cstorpoolcluster.go
  vendor/github.com/openebs/api/pkg/apis/cstor/v1/cstorpoolclusterbuilder.go
  vendor/github.com/openebs/api/pkg/apis/cstor/v1/cstorpoolinstancebuilder.go
  vendor/github.com/openebs/api/pkg/apis/openebs.io/v1alpha1/blockdevice_types.go
  vendor/github.com/openebs/api/pkg/apis/openebs.io/v1alpha1/blockdeviceclaim_types.go
  vendor/github.com/openebs/api/pkg/apis/openebs.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openebs/api/pkg/internalapis/apis/cstor/cstorpoolcluster.go
  vendor/modules.txt
Labels: area: cspc-operator, needs-review

#42 fix(ci): refactor github actions and Makefile targets
  .github/workflows/go.yml
  Makefile
Labels: area: ci

#44 chore(build): make image tags with amd64 for amd64 builds
  Makefile
Labels: needs-review

#45 feat(ci): add travis ci to build and push
  .travis.yml
  Makefile
  VERSION
  build/build.sh
  build/cspc-operator/Dockerfile
  build/cstor-webhook/Dockerfile
  build/cvc-operator/Dockerfile
  build/push
  deploy/cstor-operator.yaml
  go.mod
  go.sum
  pkg/controllers/cspc-controller/sync.go
  pkg/controllers/cstorvolumeconfig/deployment.go
  pkg/controllers/cstorvolumeconfig/volume_operations.go
  pkg/cspc/algorithm/build_csp.go
  pkg/cspc/algorithm/build_deploy.go
  pkg/version/version.go
  pkg/webhook/configuration.go
  vendor/github.com/openebs/maya/LICENSE
Labels: area: cspc-operator, area: cvc-operator, area: pool-manager

#41 chore(volume replica): add snapshot information in CVR status
  pkg/controllers/cspi-controller/volumereplica/handler.go
  pkg/volumereplica/volumereplica.go
  pkg/zcmd/cmd.go
  pkg/zcmd/zfs/listsnap/builder.go
  pkg/zcmd/zfs/listsnap/predicate.go
Labels: area: pool-manager, needs-review
