Repository openebs/cstor-operators, pull requests merged in 2020-03, with the labels that each got.

#17 chore(cvc): refactor volume and pool provisioning including updated image names
  Makefile
  pkg/controllers/cstorvolumeclaim/deployment.go
  pkg/controllers/cstorvolumeclaim/volume_operations.go
  pkg/cspc/algorithm/build_deploy.go
Labels: needs-review

#15 feat(roThresholdLimit): add ROThresholdLimit support in pool manager
  go.sum
  pkg/controllers/cspi-controller/handler.go
  pkg/cspc/algorithm/build_csp.go
  pkg/pool/operations/status.go
  pkg/zcmd/zpool/get/builder.go
Labels: area: pool-manager, enhancement, release-notes

#19 feat(cspc): add reconciliation for cspc tunables
  go.mod
  go.sum
  pkg/controllers/cspc-controller/sync.go
  pkg/cspc/algorithm/build_csp.go
  pkg/cspc/algorithm/build_deploy.go
  pkg/cspc/algorithm/select_node.go
  vendor/github.com/openebs/api/pkg/apis/cstor/v1/cstorpoolcluster.go
  vendor/github.com/openebs/api/pkg/apis/cstor/v1/zz_generated.deepcopy.go
  vendor/github.com/openebs/api/pkg/internalapis/apis/cstor/cstorpoolcluster.go
  vendor/github.com/openebs/api/pkg/internalapis/apis/cstor/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area: cspc-operator, enhancement, needs-review, release-notes

#26 feat(cspi): add capability to set compression on cstor pool
  pkg/controllers/cspi-controller/handler.go
  pkg/pool/operations/create.go
  pkg/pool/operations/pool_utils.go
Labels: area: pool-manager, needs-review

#23 chore(cvc): refactor cvc controller to use cstorvolumeconfig
  cmd/cvc-operator/main.go
  deploy/crds/volumes-crd.yaml
  deploy/rbac.yaml
  go.mod
  go.sum
  pkg/controllers/cstorvolumeclaim/volume_operations_test.go
  pkg/controllers/cstorvolumeconfig/controller.go
  pkg/controllers/cstorvolumeconfig/controller_base.go
  pkg/controllers/cstorvolumeconfig/controller_test.go
  pkg/controllers/cstorvolumeconfig/deployment.go
  pkg/controllers/cstorvolumeconfig/pdb.go
  pkg/controllers/cstorvolumeconfig/start.go
  pkg/controllers/cstorvolumeconfig/volume_operations.go
  pkg/controllers/cstorvolumeconfig/volume_operations_test.go
  pkg/controllers/volume-mgmt/volume/volume.go
  pkg/volumereplica/volumereplica.go
  pkg/volumereplica/volumereplica_test.go
  pkg/webhook/cvc.go
  pkg/webhook/cvc_test.go
  pkg/webhook/pvc.go
  vendor/github.com/openebs/api/pkg/util/env.go
  vendor/modules.txt
Labels: area: cvc-operator
